body{
background: #16BFFD;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #CB3066, #16BFFD);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #CB3066, #16BFFD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
font-family: 'Lato', sans-serif;

}

#menu-principal{
	width: 80%;
	margin: 0 auto;
	background-color: whitesmoke;
}

#menu-principal ul {
	list-style: none;
	padding-left: 0;
}

#menu-principal li{
	display: inline-block;
}

#menu-principal ul li a{
	text-decoration: none;
	color: #3f1851;
	padding: 20px 60px;
	padding-left: 130px;
	display: block;
}

input[name="mi-input"]{
	border: 5px solid black;
}

span{
	color:white;
}
